<ActionBar title="Login" class="action-bar">
</ActionBar>
<StackLayout class="page">
    <FacebookLoginButton [login]="onLoginFacebook"></FacebookLoginButton>
    <Button text="Log in with Google +"></Button>
    <Label text="or"></Label>

    <TextField hint="Email Address" keyboardType="email" autocorrect="false" autocapitalization="none" [(ngModel)]="email"></TextField>
    <TextField hint="Password" secure="true" autocorrect="false" autocapitalization="none" [(ngModel)]="password"></TextField>

    <Button text="SIGN IN" (tap)="onSignIn()"></Button>
</StackLayout>